body{
	background-color: white;
	font-family: didot;
}

.container-1{
	font-size: 30px;
	position: absolute;
	width: 380px;
	padding: 260px 20px 50px 0px;
}

.container-1 p{
	color: #4b1248;
	text-align: justify;
}

.set-card{
	position: absolute;
	right: 0px;
	padding: 0px 20px 50px 10px;
}

.wheel-1 img{
	position: absolute;
	left: 390px;
	padding: 80px 20px 50px 10px;
	width: 350px;
	height: auto;
}

.wheel-2 img{
	position: absolute;
	left: 740px;
	padding: 60px 20px 50px 0px;
	width: 470px;
	height: auto;
}

.container-2{
	background: linear-gradient(to left bottom, #78c4c0, #6bc69e, #87c16b, #b8b532, #f09b0c);	
	position: absolute;
	right: 700px;
	display: inline-block;
	width: 800px;
	height: 840px;
}

@media print{
	.wheel-2 img{
		left: 270px;
		top: 1000px;
		position: relative;
	}

	.wheel-1 img{
		left: 30px;
		top: -10px;
		opacity: 0.5;
	}

	.container-1{
		break-inside: avoid;
		padding: 80px 0px 0px 40px;
		width: 460px;
	}

	.container-1 p{
		font-size: 24pt;
		color: white;
	}

	.container-2{
		left: 0px;
	}

	.set-card img{
		left: -60px;
		top: 0px;
		position: relative;
	}
}

@page{
	size: 4.75in 7in;
	margin: 0.5in 0.5in 0.5in 0.5in;
}

