body{
	background-color: white;
	font-family: didot;
}

.container-1{
	font-size: 30px;
	position: absolute;
	width: 510px;
}

.container-1 p{
	color: #4b1248;
	text-align: justify;
}

.set-card{
	position: absolute;
	right: 0px;
	padding: 0px 20px 50px 10px;
}

.empress-1 img{
	position: absolute;
	left: 400px;
	padding: 150px 20px 50px 10px;
	width: 350px;
	height: auto;
}

.empress-2 img{
	position: absolute;
	left: 750px;
	padding: 80px 20px 50px 0px;
	width: 450px;
	height: auto;
}

.container-2{
	background-image: linear-gradient(to right bottom, #dfbb5a, #dca03f, #d9832a, #d4631e, #ce3e1b);	
	position: absolute;
	left: 500px;
	display: inline-block;
	width: 700px;
	height: 840px;
}


@media print{
	.empress-2 img{
		left: 280px;
		top: 840px;
		position: relative;
	}

	.empress-1 img{
		left: 80px;
		top: -30px;
		opacity: 0.5;
	}

	.container-1{
		break-inside: avoid;
		padding: 80px 0px 0px 0px;
		width: 515px;
	}

	.container-1 p{
		font-size: 26pt;
		color: white;
	}

	.container-2{
		left: 0px;
	}

	.set-card img{
		left: -80px;
		top: 0px;
		position: relative;
	}
}

@page{
	size: 4.75in 7in;
	margin: 0.5in 0.5in 0.5in 0.5in;
}
