body{
	background-color: white;
	font-family: didot;
}

.container-1{
	font-size: 30px;
	position: absolute;
	width: 480px;
	padding: 300px 20px 50px 0px;
}

.container-1 p{
	color: #4b1248;
	text-align: justify;
}

.set-card{
	position: absolute;
	right: 0px;
	padding: 0px 20px 50px 10px;
}

.priestess-1 img{
	position: absolute;
	left: 470px;
	padding: 10px 20px 50px 10px;
	width: 350px;
	height: auto;
}

.priestess-2 img{
	position: absolute;
	left: 800px;
	padding: 70px 20px 50px 0px;
	width: 470px;
	height: auto;
}

.container-2{
	background: linear-gradient(to right bottom, #45b6c4, #3ea3c2, #488fb9, #587bab, #646696);	
	position: absolute;
	right: 500px;
	display: inline-block;
	width: 800px;
	height: 840px;
}


@media print{
	.priestess-2 img{
		left: 200px;
		top: -60px;
		position: relative;
	}

	.priestess-1 img{
		left: 80px;
		top: 130px;
		opacity: 0.5;
	}

	.container-1{
		break-inside: avoid;
		padding: 60px 0px 0px 0px;
		width: 515px;
	}

	.container-1 p{
		font-size: 25pt;
		color: white;
	}

	.container-2{
		left: 0px;
	}

	.set-card img{
		left: 10px;
		top: 0px;
		position: relative;
	}
}

@page{
	size: 4.75in 7in;
	margin: 0.5in 0.5in 0.5in 0.5in;
}
