body{
	background-color: white;
	font-family: didot;
}

.container-1{
	font-size: 30px;
	position: absolute;
	width: 730px;
}

.container-1 p{
	color: #4b1248;
	text-align: justify;
}

.set-card{
	position: absolute;
	right: 0px;
	padding: 0px 20px 50px 10px;
}

.strength-1 img{
	position: absolute;
	left: 420px;
	padding: 240px 20px 50px 10px;
	width: 350px;
	height: auto;
}

.strength-2 img{
	position: absolute;
	left: 750px;
	padding: 30px 20px 50px 0px;
	width: 470px;
	height: auto;
}

.container-2{
	background: linear-gradient(to right bottom, #c50d3f, #d8463b, #e66d3a, #f09240, #f6b54f);	
	position: absolute;
	right: 600px;
	display: inline-block;
	width: 600px;
	height: 840px;
}

@media print{
	.strength-2 img{
		left: 220px;
		top: 850px;
		position: relative;
	}

	.strength-1 img{
		left: 80px;
		top: -200px;
		opacity: 0.5;
	}

	.container-1{
		break-inside: avoid;
		padding: 80px 0px 0px 40px;
		width: 460px;
	}

	.container-1 p{
		font-size: 24pt;
		color: white;
	}

	.container-2{
		left: 0px;
	}

	.set-card img{
		left: -30px;
		top: 0px;
		position: relative;
	}
}

@page{
	size: 4.75in 7in;
	margin: 0.5in 0.5in 0.5in 0.5in;
}