* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #c2b5a8;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.cat-head{
	width: 100px;
	height: 100px;
	background: white;
	position: absolute;
	top: 120px;
	left: 200px;
	border-radius: 50%;
}

.cat-ear:before{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid white;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: 185px;
	top: 105px;
	transform: rotate(-40deg);
}

.cat-innerear:before{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid navy;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: 200px;
	top: 115px;
	transform: rotate(-40deg);
}

.cat-ear:after{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid white;
	border-radius: 5px;
	position: absolute;
	content: "";
	right: 575px;
	top: 105px;
	transform: rotate(40deg);
}

.cat-innerear:after{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid navy;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: 270px;
	top: 115px;
	transform: rotate(40deg);
}

.cat-eyes-left{
	width: 15px;
	height: 15px;
	background: black;
	position: absolute;
	top: 160px;
	left: 220px;
	border-radius: 50%;
}

.cat-eyes-right{
	width: 15px;
	height: 15px;
	background: black;
	position: absolute;
	top: 160px;
	left: 262px;
	border-radius: 50%;
}

.cat-nose{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 13px solid pink;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: 242px;
	top: 175px;
	transform: rotate(180deg);
}