* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #c2b5a8;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.cat-head{
	width: 100px;
	height: 100px;
	background: white;
	position: absolute;
	top: 120px;
	left: 200px;
	border-radius: 50%;
}

.cat-ear-left{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid white;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: 185px;
	top: 105px;
	transform: rotate(-40deg);
}

.cat-ear-innerleft{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid navy;
	border-radius: 5px;
	position: absolute;
	content: "";
	left: -15px;
	top: -10px;
	transform: rotate(-40deg);
}

.cat-ear-right{
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid white;
	border-radius: 5px;
	position: absolute;
	content: "";
	right: -15px;
	top: -10px;
	transform: rotate(40deg);
}