* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #c2b5a8;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.cat-head{
	width: 100px;
	height: 100px;
	background: white;
	position: absolute;
	top: 120px;
	left: 200px;
	border-radius: 50%;
}

.cat-ears{
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 0;
	border-bottom: 100px white;
}