.red{
	color: red;
}

.blue{
	color: blue;
}

#intro{
	position: relative;
	font-family: sans-serif;
	margin: 50px;
}

.secondary{
	position: relative;
	font-family: sans-serif;
	margin: 50px;
}

button#one{
	font-family: sans-serif;
	font-size: 1em;
}

#square {
	width: 100px;
	height: 100px;
	background: red;
	display: inline-block;
}

#circle {
	width: 100px;
	height: 100px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}
